* {
    font-size: 30px;
}

.filled {
    background-color: black;
    color: white;
}

table {
    margin: 10px auto;
    border: 2px solid black;
    box-shadow: 0 0 7px var(--shadow);
    border-collapse: collapse;
}

caption {
    background-color: black;
    padding: 10px;
    border: 2px solid black;
    caption-side: top;
    color: rgb(206, 26, 116);
    font-size: 0.85rem;
}

/* tr:first-child th,
.highlightd { */
/* background-color: var(--back); */
/* color: var(--forelight); }*/


th,
td {
    padding: 7px 15px;
    border: 1px solid rgb(27, 25, 25);
}

th {
    background-color: rgba(0, 0, 0, 0.555);
    font-size: larger;
    color: white;
}

td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: var(--zebra);
}






/* caption {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 800;
    height: 5rem;
}

.plan {
    position: absolute;
    top: 85px;
    left: 287px;
    height: auto;
    font-size: 30px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    min-width: 450px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #aa0d6e;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    align-self: right;
}

.styled-table td {
    padding: 12px 15px;
    border: 1px solid gray;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #8abfd4;
}

span {
    color: purple;
} */