.grid-container {
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    color: rgb(88, 153, 153);
}

body {
    background-color: aquamarine;
}

/* article img[data-src] {
    filter: blur(0.2em);
}

article img {
    filter: blur(0em);
    transition: filter 0.5s;
} */