/*
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

div {
    position: relative;
    width: 460px;
    height: 230px;
}

img,
a {
    position: absolute;
    width: 100%;
}

a {
    font-size: 60px;
    padding-top: 600px;
    text-align: center;
    color: rgb(196, 18, 18);
    margin: 0;
    z-index: 2;
}
*/


.class {
    position: relative;
    text-align: center;
    color: white;
}

.home {
    font-size: 5vmax;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*Class Selectors*/

display: grid;

display: flex;

< !--*** Call to Action ***-->