@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Merriweather&family=Poppins&display=swap');

/*
rgb(248, 111, 168) pink

 rgb(37, 191, 230);  blue
rgb(248, 77, 148); better pink
rgb(248, 51, 133);
 font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;

*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 3rem;
    font-size: 28px;
    text-align: center;
    color: white;
    font-weight: 600;
    background-color: rgb(37, 191, 230);
    font-family: 'Merriweather', serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

footer div {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    background-color: white;
    color: rgb(37, 191, 230);
    box-sizing: border-box;
}

.contact {
    background-color: white;
    color: rgb(37, 191, 230);
    box-sizing: border-box;
}

.contact:hover {
    background-color: rgb(37, 191, 230);
    color: white;
    text-decoration: none;
}

/*================================NAV==============================*/
nav a:hover {
    background-color: white;
    color: rgb(37, 191, 230);
    box-sizing: border-box;
}

nav a {
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border: double;
    padding: .2%;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/*================================.H1-6 P ===============================*/
p {

    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

/*=====================Target page=============================================*/
.target-body {
    background-color: rgb(248, 77, 148);
}

.target-questions {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    text-align: left;
    display: flex;
}

/*====================Design page=============================================*/
.design-p {
    color: white;
    font-size: 45px;
    font-weight: 700px;
    font-family: 'Lato', sans-serif;
}

.design-box {
    font-size: 32px;
}

.design-box:hover {
    color: rgb(248, 77, 148);
    background-color: white;
}

.design-fonts {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    text-align: left;
}