@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Merriweather&family=Poppins&display=swap');

/*
rgb(248, 111, 168) pink

 rgb(37, 191, 230);  blue
rgb(248, 77, 148); better pink
rgb(248, 51, 133);
 font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;


   background-color: rgb(37, 191, 230);
    font-family: 'Merriweather', serif;
*/


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

.banner {
    display: grid;
    top: 0;
    position: sticky;
    background: rgb(37, 191, 230);
}

.banner-content {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
    text-decoration: none;
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    margin: auto;
    font-family: 'Merriweather', serif;
}



a {
    background-color: transparent;
    text-decoration: none;
}


.logo {
    z-index: 1;
    /* max-width: 100%;
    max-height: auto; */
}

/* button============*/




* {
    box-sizing: border-box;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, rgb(248, 77, 148), rgb(37, 191, 230), rgb(248, 77, 148));
    color: #FFF;
    height: 100%;

}



.menu-icon {
    width: 2em;
    cursor: pointer;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu>li:hover {
    opacity: 0.5;
    cursor: url(../images/cupcakesssss.png), auto;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu-button-container {
    display: none;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

/* background-image: url(../images/candylandblu.jpg); */


@media (max-width: 700px) {
    .menu-button-container {
        display: inline-block;
        align-self: flex-end;
    }

    .menu {
        position: absolute;
        top: 10%;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid rgb(37, 191, 230);
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: rgb(248, 77, 148);
    }

    .menu>li:hover {
        opacity: 0.5;
    }

}

/*=====date==========*/

.date {
    color: #0fd44a;
    text-align: center;
    display: none;
    color: red;
    font-size: 12px;


}

section {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

main section,
main section div {
    background-color: rgb(37, 191, 230);
    margin: 10px;
    text-align: center;
    border: 2px solid;
}

main section {
    height: 400px;
    object-fit: cover;
}

h1 {
    text-align: center;
    display: block;
}


.spot,
.spot-extra {
    display: inline-block;
    overflow: hidden;
    height: 80%;


    font-size: 1em;
}

footer {
    background-color: rgb(248, 77, 148);
    text-align: center;
    color: #e5e5e5;
    padding: 8px;
    display: flex;
    flex-direction: column;
}


.location-container {
    height: 100%;
    width: 100%;
}