@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Merriweather&family=Poppins&display=swap');

/*
rgb(248, 111, 168) pink

 rgb(37, 191, 230);  blue
rgb(248, 77, 148); better pink
rgb(248, 51, 133);
 font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;


   background-color: rgb(37, 191, 230);
    font-family: 'Merriweather', serif;
*/


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

.banner {





    position: sticky;
    z-index: 7;
    background: rgb(37, 191, 230);
}

.banner-content {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    margin: auto;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

a {
    background-color: transparent red;
    text-decoration: none;
}

.date {
    color: #0fd44a;
    text-align: center;
    background-color: rgb(248, 77, 148);
    padding-bottom: 10px;
    font-size: larger;
    font-weight: 700;
}

section {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

main section,
main section div {
    background-color: #ca7e7e;
    margin: 10px;
    text-align: center;
    border: 2px solid;
}

main section {
    height: 400px;
    object-fit: cover;
}

h1 {
    color: rgb(248, 77, 148);
    text-align: center;
    display: block;
}

.spot1,
.spot2 {
    display: inline-block;
    overflow: hidden;
    height: 80%;
    z-index: 5;


    font-size: 1em;
}

footer {
    background-color: rgb(37, 191, 230);
    text-align: center;
    color: #e5e5e5;
    padding: 8px;
    display: flex;
    flex-direction: column;
}



/*
* {
    margin: 0;
    padding: 0;

}

.container {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(../images/swirll.jpg);
    box-sizing: border-box;
    padding-left: 8%;
    padding-right: 8%;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    cursor: pointer;
}



nav {
    flex: 1;
    text-align: right;
    text-decoration: none;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1 {
    font-size: 100px;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 15px;
}

button {
    width: 180px;
    color: red;
    font-size: 12px;
    padding: 12px 0;
    background: green;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../images/cupcake.png);
    background-position: center;
    background-size: cover;
    transition: ease-in;
}

.card2 {
    background-image: url(../images/candylandblu.jpg);
}

.card:hover {
    transform: translate(-10px);
}

h2 {
    color: blue;
    text-shadow: 0 0 5px rgb(209, 12, 12);
}

.card p {
    text-shadow: 0 0 5px red;
    font-size: 12px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}