@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Merriweather&family=Poppins&display=swap');

/*
rgb(248, 111, 168) pink
 rgb(37, 191, 230);  blue
rgb(248, 77, 148); better pink
rgb(248, 51, 133);
 font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
   background-color: rgb(37, 191, 230);
    font-family: 'Merriweather', serif;
*/

body {
    position: relative;
}

header,
footer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    margin: auto;
    font-family: 'Merriweather', serif;
}

a {
    background-color: transparent red;
    text-decoration: none;
}

.grid-container {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: white;
}

.action {
    background-image: url(../images/OhsoSweet!.png);
    background-size: cover;
    position: relative;
}

.event {
    background-color: blue;
}

.weather {
    background-color: green;
}

.news {
    background-color: purple;
}

.join {
    background-color: pink;
    display: none;
}

.spotlights {
    background-color: orange;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1em;
}

.spotlight img {
    max-width: 80%;
}

.spot3 {
    display: none;
}