@media only screen and (min-width: 60em) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }


    /* Do not want colors, just want to see when in large from medium  */

    body {
        color: chartreuse;
        background-color: blue;
    }

}