@media only screen and (min-width: 32.5em) and (max-width: 60em) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



    * {
        grid-template-areas:
            "header header"
            "nav nav"
            "action events"
            "weather news"
            "footer footer"
    }






}