@media only screen and (min-width: 32.5em) and (max-width: 60em) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Just trying to see a chang so I know it's working...I do not want these crazy colors*/

    body {
        background-color: blueviolet;
        color: chartreuse;
    }

    * {

        grid-template-areas:
            "header header"
            "nav nav"
            "action events"
            "weather news"
            "footer footer"
    }






}