@media only screen and (min-width: 32.5em) and (max-width: 60em) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* makes home-join go across not un and down */
    .menu {
        display: flex;
        flex-direction: row;
    }

    .menu li {
        background-color: transparent;
    }

    /* makes hamburger not show up */
    .menu-button-container {
        display: none;
        cursor: pointer;
        background-color: transparent;
    }

    .spot3 {
        display: none;
    }

    .action,
    .news,
    .spotlights {
        grid-column: span 3;
    }

    .news {
        grid-row: 2;
    }

    .spotlights {
        grid-row: 3;
    }

    .event {
        grid-column: 1/3;
    }

    /* 
    * {

        grid-template-areas:
            "header header"
            "nav nav"
            "action events"
            "weather news"
            "footer footer"
    } */






}