@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(3.5);
    }
}

/* 0% = FROM 100% = TO */

@keyframes leftToRight {
    from {
        left: 0px;
    }

    to {
        left: 600px;
    }
}

/* @counter-style space {
    system: cyclic;
    symbols: ◆ ◇;
    suffix: " ";
}

@counter-style circled-digits {
    system: fixed;
    symbols: 😀 👻 👽 👾 🤖 🎃 😹 👋 👀 💋;
    suffix: " ";
} */

* {
    box-sizing: border-box;

}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
    color: blue;
}

.thanks {
    color: rgb(248, 77, 148);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    padding-top: 2rem;
}


.aa {
    width: 100px;
    height: 100px;

    background: rgb(115, 105, 180);
    position: absolute;
    top: 200px;
    animation-name: WeirdName;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.tt {
    width: 50px;
    height: 50px;
    background: rgb(25, 149, 231);
    position: absolute;
    top: 50px;
    animation-name: name;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    border-radius: 50%;
}

.bb {
    width: 300px;
    height: 100px;
    background: rgb(100, 219, 130);
    position: absolute;
    animation-name: leftToRight;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 5%;

}

.cc {
    width: 100px;
    height: 100px;
    background: rgb(209, 15, 74);
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 20%;
    animation: grow 2000ms ease-in-out infinite alternate;
}

.box {
    width: 75px;
    height: 75px;
    background: rgb(241, 238, 9);
    padding: 20px;
    display: grid;
    place-content: center;
    color: white;
    text-align: center;
    border-radius: 40%;
    display: flex;
    gap: 16px;

}

@keyframes name {
    0% {
        left: 200px;
        top: 50px;
    }

    25% {
        left: 50px;
        top: 200px;
    }

    50% {
        left: 200px;
        top: 300px;
    }

    75% {
        left: 300px;
        top: 200px;
    }

    100% {
        left: 200px;
        top: 50px;
    }
}


@keyframes WeirdName {
    0% {
        left: 0px;
        top: 200px;
    }

    25% {
        left: 250px;
        top: 0px;
    }

    50% {
        left: 300px;
        top: 100px;
    }

    75% {
        left: 200px;
        top: 400px;
    }

    100% {
        left: 0px;
        top: 200px;
    }
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(var(--bounce-offset));
    }
}

.box {
    animation:
        bounce alternate infinite cubic-bezier(.2, .65, .6, 1);
    display: flex;
    gap: 16px;

}

.box.one {
    --bounce-offset: -20px;
    animation-duration: 200ms;
}

.box.two {
    --bounce-offset: -30px;
    animation-duration: 300ms;
}

.box.three {
    --bounce-offset: -40px;
    animation-duration: 400ms;
}