body {
    font-size: 18px;
    line-height: 1.5;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
}

header,
main,
footer {
    text-align: center;
    vertical-align: middle;
    padding: 1.5rem;
}

header,
footer {
    background-color: blue;
    color: white;
}

.linklist {
    text-align: center;
}

ul {
    display: inline-block;
}

li {
    text-align: left;
}

p img {
    float: left;
    margin: 10px;
    border: 1px solid;
}