body {
    font-size: 10px;
    line-height: 1.5;
    font-family: 'Noto Sans', sans-ser
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
}

header,
main,
footer {
    text-align: center;
    vertical-align: middle;
    padding: .8rem;
}

header,
footer {
    background-color: rgb(218, 129, 211);
    color: white;
    font-family: 'Sevillana', cursive;
}

.linklist {
    text-align: center;
}

ul {
    display: inline-block;
}

li {
    text-align: left;
}

p img {
    float: left;
    margin: 10px;
    border: 1px transparent;
}